body {
	font-family: 'Source Sans Pro', sans-serif;
	background: url('../images/noise-background.png') rgb(90,81,64);
	margin: 0 auto;
	color: rgb(72,78,90);
}

button {
	background-color: rgb(72,78,90);
	color: rgb(243,243,243);
}

button:hover {
	background-color: rgb(151,156,166);
	color: rgb(243,243,243);
}

button:focus {
	outline: none;
}

/* Header Content */

header {
	background-color: rgb(72,78,90);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	color: rgb(166,161,151);
}

.nav {
	margin-bottom: 20px;
}

.navbar-nav {
	font-size: 24px;
	padding: 0;
}

.navbar-nav > li {
	list-style: none;
	padding: 20px 0;
}

.navbar-nav > li > a {
	color: rgb(166,161,151);
	padding: 20px;
}

.navbar-nav > li > a:hover {
	color: rgb(151,156,166);
}

.navbar-nav > li > a:focus {
	text-decoration: none;
}

.navbar-nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: inherit;
}

.navbar-toggle {
	padding: 20px 10px;
}

header .icon-bar {
	background-color: rgb(166,161,151);
}

/* Section content */

section {
	background-color: rgb(243,243,243);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.intro {
	text-align: center;
	margin-bottom: 25px;
	font-size: 40px;
}

.intro-picture {
	margin: 30px auto;
	display: block;
	border-radius: 250px;
	max-width: 100%
}

.checkout-portfolio {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	border-radius: 30px;
	padding: 10px 20px;
	border: 0 none;
}

/*********************************

			Media Queries

**********************************/

/* Standard View */
@media (min-width: 768px) {
  
  h1 {
  	display: none;
  }

}

/* Mobile View */
@media (max-width: 767px) {
  
  h1 {
  	display: inline-block;
  }

}