body {
	font-family: 'Source Sans Pro', sans-serif;
	background: url('../images/noise-background.png') rgb(90,81,64);
	margin: 0 auto;
	color: rgb(72,78,90);
}

button {
	background-color: rgb(72,78,90);
	color: rgb(243,243,243);
}

button:hover {
	background-color: rgb(151,156,166);
	color: rgb(243,243,243);
}

button:focus {
	outline: none;
}

h1 {
	float: left;
	cursor: pointer;
}

a {
	color: rgb(166,161,151);
}

a:hover {
	color: rgb(151,156,166);
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

h1 > a {
	color: rgb(243,243,243);
}

/* Header Content */

header {
	background-color: rgb(72,78,90);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	color: rgb(166,161,151);
}

.nav {
	margin-bottom: 20px;
}

.navbar-nav {
	font-size: 24px;
	padding: 0 0 0 20px;
}

.navbar-nav > li {
	list-style: none;
	padding: 25px 0;
}

.navbar-nav > li > a {
	color: rgb(166,161,151);
	padding: 25px;
}

.navbar-nav > li > a:hover {
	color: rgb(151,156,166);
}

.navbar-nav > li > a:focus {
	text-decoration: none;
}

.navbar-nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: inherit;
}

.navbar-toggle {
	padding: 20px 10px;
}

header .icon-bar {
	background-color: rgb(166,161,151);
}

/* Section content */

section {
	background-color: rgb(243,243,243);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.intro {
	text-align: center;
	margin-bottom: 25px;
	font-size: 40px;
}

.intro-picture {
	margin: 30px auto;
	display: block;
	border-radius: 250px;
	max-width: 100%
}

.checkout-portfolio {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	border-radius: 30px;
	padding: 10px 20px;
	border: 0 none;
}

.checkout-portfolio a {
	color: rgb(243,243,243);
}

checkout-portfolio a:hover {
	background-color: rgb(151,156,166);
	color: rgb(243,243,243);
}

/* Portfolio Section */

.project {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    padding-left: 0px;
    margin: 20px 0px;
}

.project-thumbnail {
	padding-left: 0px;
	border-left: 10px solid rgb(151,156,166);
	border-radius: 10px 0px 0px 10px;
}

.project-thumbnail img {
	max-width: 100%;
}

.project-details header {
	background-color: transparent;
	box-shadow: none;
	font-size: 24px;
	margin-top: 5px;
}

.project-details p {
	margin-top: 10px;
}

.project-details ul {
	list-style: none;
	padding-left: 0px;
	font-size: 16px;
	margin-bottom: 0px;
}

.project-details li {
	display: inline-block;
	margin-right: 5px;
}

.project-details a:hover {
	color: rgb(72,78,90);
}

.project-details a img {
	margin-right: 5px;
}

/*********************************

			Media Queries

*********************************/

@media (max-width: 767px) {
	
	h1 {
		float: none;
	}

	.project {
		border-left: 10px solid rgb(151,156,166);
	}


}